/* Start LOADER */
.loader {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #1e1f29, #53102c, #a02c62);
}
.loader__item {
  position: absolute;
  border-radius: 50%;
}
.loader__pulse {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  -webkit-animation: loader-circle-pulse 4s ease-in-out infinite alternate;
          animation: loader-circle-pulse 4s ease-in-out infinite alternate;
}
.loader__circle {
  border: 10px solid;
  border-color: #f0f0f0 transparent;
  -webkit-animation: loader-circle-rotate 5s linear infinite;
          animation: loader-circle-rotate 5s linear infinite;
}
.loader__circle:nth-child(odd) {
  animation-direction: reverse;
  border-color: transparent #a02c62;
}
.loader__circle-1 {
  width: 200px;
  height: 200px;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.loader__circle-2 {
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.loader__circle-3 {
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}

@-webkit-keyframes loader-circle-pulse {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 45px 30px #a02c5c;
  }
}

@keyframes loader-circle-pulse {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 45px 30px #a02c53;
  }
}
@-webkit-keyframes loader-circle-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes loader-circle-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

html {
  
    overflow-x: hidden !important;
    width: 100%;
  }
  body {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden !important;
  }
  /* .wrap-whole {
    width: 100%;
    overflow-x: hidden;
  } */
  .abouttheleague {
    margin-bottom: 200px;
  }
  .gal {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  /* navbar */
  .navbar {
    transition-duration: 0.6s;
    font-weight: 500;
  }
  .navbar-dark {
    background-color: transparent;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
  /* toggler animation */
  .navbar-toggler {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .animated-icon2 span {
    padding-top: 4px;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: -13px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .animated-icon2 span {
    background: #fdfdfdfd;
  }
  
  .animated-icon2 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon2 span:nth-child(2),
  .animated-icon2 span:nth-child(3) {
    top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
    top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  .navbar-dark .navbar-nav > li .nav-link {
    color: #b4b4b4fd;
    /* font-weight: 600;s */
    font-size: 17px;
    margin-right: 60px;
    padding: 25px 0;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 10px;
  }
  
  .navbar-dark .navbar-nav > li .nav-link:hover {
    color: white;
    box-shadow: none;

  }

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: purple;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    -webkit-transition: all 2s;
    transition: all 2s;
    -o-transition: all 2s;
    -moz-transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: ".";
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    -o-animation: fill 1s forwards;
  
    opacity: 1;
  }
  
  /* jquery class */
  .navbar-scroll {
    background: black;
    /* padding: 0; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  /* media queries */
  @media screen and (max-width: 991px) {
    .navbar {
      background: black;
      opacity: 0.7;
    }
  }
  
 
  .righthandassassin {
    padding: auto;
    position: relative;
    width: 300px;
    height: 300px;
  }

  .righthandassassin img {
    max-width: 300px;
    max-height: 250px;
  border-radius: 20%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
  }

  .flex {
    display: flex;
  }

  .righthandassassin-title{
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: white;
  }
  
  .enterthedeath2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(98, 42, 42);
  }

  .enterthedeath1 {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: rgb(98, 42, 42);
  } 

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    background: linear-gradient(rgb(91, 88, 88), rgb(207, 204, 204), rgb(255, 255, 255));
    background-size: 100% auto;
  }
  

  .leaguespropoganda-wrapper {
    height: 100vh;
    height: auto;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .leaguespropoganda {
  
    padding-bottom: 220px;
    padding-top: 120px;
    background: url("images/image\ \(2\).png") no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
   
  }
  .leaguespropoganda:hover {
    transform: scale(1.0098);
  }
  .leaguespropoganda .entry-header {
    position: relative;
    text-align: center;
    color: rgb(221, 213, 213);
  }
  
  .leaguespropoganda .entry-header h1 {
    padding: 68px 10px;
    padding-top: 0;
    margin: 0;
    font-family: 'Metal Mania', cursive;
    font-size: 100px;
    font-weight: 100 !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    background-image: none; 
  }
  @media screen and (max-width: 700px) {
    .leaguespropoganda .entry-header h1 {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 400px) {
    .leaguespropoganda .entry-header h1 {
      font-size: 60px;
    }
  }
  .leaguespropoganda .entry-header h4 {
    font-size: 25px;
  }
  @media screen and (max-width: 700px) {
    .leaguespropoganda .entry-header h4 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 400px) {
    .leaguespropoganda .entry-header h4 {
      font-size: 17px;
    }
  }
  
  /*# flickering for LOA */
  @keyframes flicker {
    0% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    5% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    10% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(-15deg);
    }
    15% {
      color: #ccc;
      text-shadow: none;
      transform: skewX(-15deg);
    }
    20% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    25% {
      color: #ccc;
      text-shadow: 2px 2px #912914;
      transform: skewX(0);
    }
    30% {
      color: #ccc;
      text-shadow: 2px 2px #912914;
      transform: skewX(0);
    }
    35% {
      color: #ccc;
      text-shadow: 2px 2px #912914;
      transform: skewX(0);
    }
    37% {
      color: #ccc;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    40% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    45% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    50% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    55% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    60% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    65% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    68% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    70% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    75% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(10deg);
    }
    80% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(10deg);
    }
    85% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(10deg);
    }
    90% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
    95% {
      color: #912914;
      text-shadow: 1px 1px #eee;
      transform: skewX(0);
    }
    100% {
      color: #912914;
      text-shadow: none;
      transform: skewX(0);
    }
  }
  
  .flick {
    animation: flicker 1.5s linear infinite;
  }

  
  #mycarousel {
    width: 75%;
    margin: 0 auto;
  }
  @media screen and (max-width: 400px)
  {
    #mycarousel
    {
      width: 73%;
    }
    .carousel-inner .carousel-item img
    {
      height: 40vw;
    }
  }
  .carousel-inner .carousel-item img {
    height: 40vw;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 120px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }
  
  .carousel-control-next-icon:after {
    content: "👉";
    font-size: 50px;
    color: white;
  }
  
  .carousel-control-prev-icon:after {
    content: "👈";
    font-size: 50px;
    color: white;
  }
  
   /*# leaguespropoganda */
  .leaguespropoganda .entry-footer {
    margin-top: 125px;
    text-align: center;
  }
  
  .leaguespropoganda .entry-footer .btn {
    background: hsl(0, 0%, 100%);
    padding: 16px 40px;
    border-radius: 0;
    margin-right: 20px;
    color: hsl(0, 0%, 17%);
    font-weight: 600;
  }
  
  .leaguespropoganda .entry-footer a:hover,
  .leaguespropoganda .entry-footer .current {
    background: -webkit-linear-gradient(#ff0080, #f85d84);
    color: hsl(0, 0%, 0%);
  }

  .abouttheleague-wrap {
    background: url("images/aboutusbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
  }
  .abouttheleague-container {
  
    max-width: 750px;
    margin-top: 0;
  }
  .abouttheleague {
    color: white;
    text-align: center;
    margin-top: 0;
  }
  
  .abouttheleague h2 {
    font-family: 'Metal Mania', cursive;
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 500;
  }
  .destiny {
    padding-bottom: 110px;
  }
  .abouttheleague p {
    font-size: 16px;
  }
  @media screen and (max-width: 991px) {
    .abouttheleague p {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 600px) {
    .abouttheleague p {
      font-size: 13px;
    }
    .abouttheleague h2 {
      font-size: 40px;
    }
  }
  /*# Tracks main time line*/
  #tracks {
    color: #03070c;
    margin: 0 auto;
  }

#tracks h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    letter-spacing: 2px;

  }

  /* new tracks */
  .main-timeline4 .year {
    width: 110px;
    height: 100%;
    padding-top: 8px;
    text-align: center;
  }
  .main-timeline4 .year i {
    font-size: 50px;
    font-weight: 700;
  }

  .main-timeline4 .year img{
    width: 102px;
    height: 102px;
    border-radius: 100%;
    margin-top: -24px;
    margin-left: -1px;
    z-index: -100;
  }
  .main-timeline4 {
    overflow: hidden;
    position: relative;
  }
  .main-timeline4:before {
    content: "";
    width: 5px;
    height: 85%;
    background: #333;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-timeline4 .timeline-content:before,
  .main-timeline4 .timeline:before {
    top: 50%;
    transform: translateY(-50%);
    content: "";
  }
  .main-timeline4 .timeline {
    width: 50%;
    padding-left: 100px;
    float: right;
    position: relative;
  }
  .main-timeline4 .timeline:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #333;
    position: absolute;
    left: -10px;
  }
  .main-timeline4 .timeline-content {
    display: block;
    padding-left: 150px;
    position: relative;
  }
  .main-timeline4 .timeline-content:before {
    width: 90px;
    height: 10px;
    border-top: 7px dotted #333;
    position: absolute;
    left: -92px;
  }
  .main-timeline4 .year {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 50%;
    border: 10px solid rgb(32, 32, 32);
    font-size: 30px;
    color: #000000;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-timeline4 .year:before {
    content: "";
    border-left: 20px solid rgb(32, 32, 32);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg);
  }
  .main-timeline4 .fu:before {
    content: "";
    border-left: 20px solid rgb(32, 32, 32);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg);
  }
  /* lips */
  .main-timeline4 .fin:before {
    content: "";
    border-left: 20px solid rgb(32, 32, 32);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg);
  }
  .main-timeline4 .inner-content {
    padding: 20px 0;
  }
  .main-timeline4 .title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-family: 'Metal Mania', cursive; 
    font-size: 35px;
    margin: 0 0 5px;
  }
  .main-timeline4 .description {
    font-size: 14px;
    color: #3d3d3d;
    margin: 0 0 5px;
    font-weight: 500;
  }
  .main-timeline4 .timeline:nth-child(2n) {
    padding: 0 100px 0 0;
  }
  .main-timeline4 .timeline:nth-child(2n) .timeline-content:before,
  .main-timeline4 .timeline:nth-child(2n) .year,
  .main-timeline4 .timeline:nth-child(2n):before {
    left: auto;
    right: -10px;
  }
  .main-timeline4 .timeline:nth-child(2n) .timeline-content {
    padding: 0 150px 0 0;
  }
  .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
    right: -92px;
  }
  .main-timeline4 .timeline:nth-child(2n) .year {
    right: 0;
  }
  .main-timeline4 .timeline:nth-child(2n) .year:before {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid rgb(32, 32, 32);
    transform: rotate(-45deg);
  }
  .main-timeline4 .timeline:nth-child(2) {
    margin-top: 110px;
  }
  .main-timeline4 .timeline:nth-child(odd) {
    margin: -110px 0 0;
  }
  .main-timeline4 .timeline:nth-child(even) {
    margin-bottom: 80px;
  }
  .main-timeline4 .timeline:first-child,
  .main-timeline4 .timeline:last-child:nth-child(even) {
    margin: 0;
  }
  .main-timeline4 .timeline:nth-child(2n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(2) .year:before {
    border-right-color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(2n) .title {
    color:rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(3n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(3) .year:before {
    border-left-color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(3n) .title {
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(4n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(4) .year:before {
    border-right-color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(4n) .title {
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(6n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(6) .year:before {
    border-right-color:rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(6n) .title {
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(8n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(8) .year:before {
    border-right-color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(8n) .title {
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(7n) .year {
    border-color: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(7) .year:before {
    border-right-color: rgb(32, 32, 32);
  }
  .main-timeline4 .timeline:nth-child(7n) .title {
    color: rgb(32, 32, 32);
  }
  
  @media only screen and (max-width: 1200px) {
    .main-timeline4 .year {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  @media only screen and (max-width: 990px) {
    .main-timeline4 {
      overflow: visible;
    }
    .main-timeline4:before {
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
    .main-timeline4 .timeline:before,
    .main-timeline4 .timeline:nth-child(2n):before {
      top: 60px;
      left: -9px;
      transform: translateX(0);
    }
    .main-timeline4 .timeline,
    .main-timeline4 .timeline:nth-child(even),
    .main-timeline4 .timeline:nth-child(odd) {
      width: 100%;
      float: none;
      text-align: center;
      padding: 0;
      margin: 0 0 10px;
    }
    .main-timeline4 .timeline-content,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
      padding: 0;
    }
    .main-timeline4 .timeline-content:before,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
      display: none;
    }
    .main-timeline4 .timeline:nth-child(2n) .year,
    .main-timeline4 .year {
      position: relative;
      transform: translateY(0);
    }
    .main-timeline4 .timeline:nth-child(2n) .year:before,
    .main-timeline4 .year:before {
      border: none;
      border-right: 20px solid rgb(32, 32, 32);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      top: 50%;
      left: -23px;
      bottom: auto;
      right: auto;
      transform: rotate(0);
    }
    .main-timeline4 .timeline:nth-child(2n) .year:before {
      border-right-color: rgb(32, 32, 32);
    }
    .main-timeline4 .timeline:nth-child(3n) .year:before {
      border-right-color: rgb(32, 32, 32);
    }
    .main-timeline4 .timeline:nth-child(4n) .year:before {
      border-right-color: rgb(32, 32, 32);
    }
    .main-timeline4 .inner-content {
      padding: 10px;
    }
  }
  /*The Lineup Artists - Headliners*/
  .osnptbg {
    /* margin: 0; */
    background-color: #17182f;
  }

   /*# lineup-membersofleague*/  
  .lineup-membersofleague {
    margin-top: 115px;
  }  
  .lineup-membersofleague .p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
  }
  
  .lineup-membersofleague .h2 {
    font-family: 'Metal Mania', cursive;
   text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 11%, 81%);
    padding-bottom: 40px;
  }

  .lineup-artists {
    padding-top: 80px;
  }
  
  .lineup-artists .featured-image {
    margin: 0;
    padding: 0;
  }
  
  .lineup-artists .featured-image {
    width: 100%;
  }
  
  .lineup-artists .featured-image img {
    width: 100%;
    max-width: 100%;
  }
  
   .lineup-artists .lineup-artists-wrap {
    margin-top: 80px;
  }
  
  .lineup-artists .lineup-artists-wrap .lineup-artists-description {
    position: relative;
    width: 100%;
  }
  
  .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    position: relative;
    padding: 30px;
    background: hsl(0, 0%, 100%);
    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
  }
  
  .lineup-artists-description {
    font-size: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 9%);
  }
  
  .lineup-artists-description .entry-content {
    margin-top: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 60%);
    line-height: 2;
  }
  
  .lineup-artists-wrap .box-link {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -24px;
    right: 50px;
    z-index: 999;
  }
  
  @media screen and (min-width: 768px) {
    .lineup-artists .lineup-artists-wrap {
      margin-top: 30px;
    }
  
    .lineup-artists .featured-image {
      max-width: 360px;
    }
  
    .lineup-artists .lineup-artists-wrap .lineup-artists-description {
      width: calc(100% - 360px);
    }
  
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
      position: absolute;
      z-index: 99;
      top: 100px;
      left: -75px;
      width: calc(100% + 75px);
    }
  
    .lineup-artists
      .lineup-artists-wrap:nth-of-type(even)
      .lineup-artists-description-container {
      right: -75px;
      left: auto;
    }
  
    .lineup-artists .lineup-artists-wrap:nth-of-type(even) .box-link {
      right: auto;
      left: 50px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
      padding: 50px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
      max-width: 660px;
    }
  
    .lineup-artists .lineup-artists-wrap:nth-last-of-type(1) {
      margin-left: 80px;
    }
  }
  
  
  /*# seriesevents is present in the FAQ*/
  .seriesevents {
    margin-top: 30px;
  }
  
  .seriesevents .h2 {
    font-family: 'Metal Mania', cursive;
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    padding-top: none;
    margin-top: none;
  }
  /*# righthandassassin*/
   .osnptbg {
    background: linear-gradient(-45deg, #000000, #3b2b50, #2e1919, #201b3a);
    background-size: 400% 400%;
    }
    .bg {
      background: radial-gradient(rgb(56, 25, 73) 30%,rgb(32, 33, 112) 40%,#111010 30%);
      background-size: 200% 200%;
      }

  /*# dc-comics */
  .dc-comics {
    margin-top: 120px;
  }
  
  .dc-comics .p {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    padding-bottom: 20px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 3px;
  }
  
  .dc-comics .h2 {
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .proj2019 {
    font-size: 20px;
  }
  /*# dc-comics-wrap for their better biuld at the end of the gallary */
  .dc-comics-wrap {
    margin-top: 110px;
  }
  
  .dc-comics-wrap .release-date {
    position: absolute;
    top: -10px;
    margin-left: -10px;
    left: 0;
    padding: 10px 25px;
    background: -webkit-linear-gradient(purple, rgb(190, 104, 190));
    font-size: 20px;
    font-weight: 200;
  }
  
  .dc-comics-wrap .release-date a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 3px;
  }
  
  .dc-comics-wrap .content-wrapper {
    background: hsl(0, 0%, 100%);
    box-shadow: 10px 40px 115px 27px rgba(0, 0, 0, 0.1);
  }
  
  .dc-comics-wrap .featured-image {
    margin: 0;
    padding: 0;
    box-shadow: 10px 40px 115px 27px rgba(0, 0, 0, 0.1);
  }
  
  .dc-comics-wrap .featured-image img {
    max-width: 100%;
  }
  
  .dc-comics-wrap .entry-content {
    padding: 35px 45px;
  }
  
  .dc-comics-wrap .entry-content .entry-header h2 {
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 9%);
    font-family: 'Metal Mania', cursive;
  }
  
  .dc-comics-wrap .entry-content .entry-header h2 a {
    font-family: 'Metal Mania', cursive;
    letter-spacing: 2px;
    color: hsl(0, 0%, 9%);
  }
  
  .dc-comics-wrap .entry-content .entryofcomics {
    margin-top: 6px;
    font-size: 12px;
    color: hsl(0, 0%, 9%);
    font-weight: 500;
  }
  
  .dc-comics-wrap .entry-content .entryofcomics a {
    color: hsl(0, 0%, 10%);
  }
  
  .dc-comics-wrap .entry-content .entercomics {
    margin-top: 25px;
    font-size: 15px;
    color: purple;
    line-height: 2;
  }
  
  .dc-comics-wrap .entry-content .entryofcomics span {
    margin-right: 10px;
  }
  .container .row .faq-collapsible {
    max-width: 750px;
    margin: 0 auto;
  }
  .container .row .faq-collapsible .collapsible {
    text-align: center;
  }
  /*# death-footer*/
  .body {
    background-image: url("Edited Images/dishonored-2560x1600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
  }
  .death-footer-wrapper {
    height: 100%;
    position: relative;
    padding: 40px 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  
  }
  .gradient {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      at 100px 100px,
      rgba(30, 12, 34, 0.9) 0,
      rgba(86, 45, 151, 0.8) 70%
    );
  }
  
  .death-footer::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 5%, 0.6);
    top: 0;
    left: 0;
  }
  
  .death-footer .footer-cover-title {
    min-height: 580px;
    width: 100%;
  }
  
  .death-footer .footer-cover-title h2 {
    font-size: 20vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    mix-blend-mode: overlay;
    z-index: 2;
  }
  
  /*# .death-footer footer-content-wrapper*/
  .footer-content-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 260px;
    left: 0;
    text-align: center;
  }
  
  .footer-content-wrapper .flex {
    flex-direction: column;
  }
  
  .footer-content-wrapper{
    text-align: center;
    /* margin-top: 25px; */
  }
  
  .footer-content-wrapper .a {
    font-size: 52px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 1;
    text-decoration: none;
  }
  .footer-content-wrapper {
    transform: translateY(-50px);
  }
  .footer-content-wrapper .img {
    height: 215px;
    width: 215px;
  
    transform: translateX(-13px) !important;
  }
  
  .footer-content-wrapper .entrytohell {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
  }
  
  .footer-content-wrapper .entrytohell a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin: 0 auto;
  }
  
  .footer-content-wrapper .copyright-info {
    margin-top: 20px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
  }
  
  .footer-content-wrapper .footer-hell {
    margin-top: 32px;
  }
  
  .footer-content-wrapper .footer-hell .flex {
    flex-direction: row !important;
  }
  
  .footer-content-wrapper .footer-hell ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-content-wrapper .footer-hell ul a {
    padding: 5px 16px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
  }
  
  .footer-hell .flex .fab {
    padding-top: 30px;
    font-size: 18px;
  }
    
  /* for styling the content inside the accordion */
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.001s ease-out;
    color: rgba(209, 205, 205, 0);
    font-size: 18px;
    text-align: justify;
  }
 
  .assassin
  {
    text-align: center;
    padding: 40px;
  }
  @media screen and (max-width : 768px)
  {
    .assassin
    {
      padding: 20px;
      border-radius: 20%;
    }
    .a1 img
    {
      width: 55% !important;
    }
    .a2 img
    {
      width: 50% !important;
    }
    .a3 img
    {
      width: 45% !important;
    }
    .a5 img
    {
      width: 40% !important;
    }
    .a4 img
    {
      width: 35% !important;
    }
    .a6 img
    {
      width: 30% !important;
    }
  }
  .a1 img
  {
    width: 25% ;
    height: auto; 
  }
  .a2 img
  {
    width: 25%;
    height: auto;
  }
  .a3 img
  {
    width: 23%;
    height: auto;
  }
  .matic
  {
    padding: 40px ;
  }
  .a5 img {
    width: 20% ;
  }
  .a4 img {
    width: 20% ;
  }
  
  
  .matic img {
    max-width: 25% !important;
    max-height: 100px;
  }
  .a6 img{
    max-width: 20% !important;
  }
  @media screen and (min-width : 768px)
  {
  .a6 img{
    max-width: 50% !important;
  }
  }
  
  /* assassinnsi button wrapper */
  
  .memberloa {
    margin-left: 46%;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 3px;
    font-size: 18px;
    border-radius: 80%;
  }
  @media screen and (max-width: 768px) {
    .memberloa {
      margin-left: 37%;
    }
  }
  @media screen and (max-width: 400px) {
    .memberloa {
      margin-left: 33%;
    }
  }
  
  /* # faq */
    #faqbackg {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    max-width: 100vw;
  }
  @media screen and (max-width: 768px) {
    #faqbackg {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  /* ================================ */
  
  @import url("https://fonts.googleapis.com/css?family=Hind:300,400");
  
  /* ================================ */
  
  .accordion:hover {
    -webkit-color: #d60377;
    color: #d20394;
    /* border-bottom: 1px solid #03b5d2; */
  }
  .accordion {
    /* max-height: 50vh; */
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .accordion .accordion-item a {
    color: rgb(196, 193, 193);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  .accordion .accordion-item a:hover {
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #d20352;
  }
  
  .accordion .accordion-item a h2 {
    font-size: 17px;
  }
  .accordion a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(206, 203, 203);
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 1.15rem;
    font-weight: 400;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #d20364;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .accordion a:hover::after {
    border: 1px solid #d20364;
    -webkit-transition: all 0.1s linear;
  
    transition: all 0.1s linear;
  }
  
  .accordion a.active {
    color: #d20375;
    -webkit-border-bottom: 1px solid #d20341;
    border-bottom: 1px solid #d20337;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .accordion a:hover {
    -webkit-border-bottom: 1px solid #d2038d;
    border-bottom: 1px solid #d20375;
  }
  
  
  
  .accordion a::after {
    content: "👇";
  
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #d2cf03;
    padding: 2px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #cbd203;
    text-align: center;
    transition: all 0.01s linear;
  }
  
  
  .accordion a::after:hover {
    position: relative;
  }
  
  /* after the accordion is clicked on then there is change in the animation */
  
  .accordion a.active::after {
    content: "👆";
    color: #d2039e;
    border: 1px solid #d20375;
    transition: all 0.01s linear;
  }
  
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    /* border-bottom: 1px solid #e5e5e5; */
    overflow: hidden;
    clear: both;
    transition: all 0.2s;
    color: rgb(207, 205, 205);
  }
  
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(219, 216, 216);
  }
  
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    background-color: rgba(219, 215, 215, 0);
    -webkit-transition: all 0.35s linear 0.15s;
    -o-transition: all 0.35s linear 0.15s;
    transition: all 0.35s linear 0.15s;
  }
  
  
  /* faq header section styling */
  
  .faq-header {
    color: white;
        font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    font-weight: 600;
  }

  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@keyframes changeHues1 {
  0% {
    filter: hue-rotate(90deg) saturate(500%);
    content: "hue-rotate(90deg) saturate(500%)";
  }
  25% {
    filter: hue-rotate(180deg) saturate(500%);
    content: "hue-rotate(180deg) saturate(500%)";
  }
  50% {
    filter: hue-rotate(270deg) saturate(500%);
    content: "hue-rotate(270deg) saturate(500%)";
  }
  75% {
    filter: hue-rotate(360deg) saturate(500%);
    content: "hue-rotate(360deg) saturate(500%)";
  }
  100% {
    filter: hue-rotate(450deg) saturate(500%);
    content: "hue-rotate(450deg) saturate(500%)";
  }
}
  .death {
    margin: 0 auto;
  
    width: 190px;
    height: 190px;
  
    box-sizing: content-box;
    border: 15px rgb(78, 71, 71) solid;
  
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: changeHues1 2s infinite;
    animation-fill-mode: none;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .death_red2 {
  margin: 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
   animation: spin 5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s infinite;
}

.death_red2 img {
  width: 100%;
  height: 100%;
}

  
  .death img {
    width: 100%;
    height: 100%;
  }
  .death_red {
      opacity: 0%;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
      }
  
  
  .death_red img {
    width: 100%;
    height: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    .death_red {
      
      width: 200px;
      height: 200px;
    }
    .death_red2 {
      
      width: 50px;
      height: 50px;
    }
  }
  @media screen and (max-width: 400px) {
    .death_red {
      width: 150px;
      height: 150px;
    }
    .death_red2 {
      width: 10px;
      height: 10px;
    }
  }
  
  /* social icon animations int the sections of tracks timeline*/
  .fab:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /* patrons padding */
  
  .matic {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  /* comunity righthandassassins class section */
  
  .section h2 {
  
    padding-top: 0;
    margin-top: 0;
  }
  
  /* ----------------------------------------------------------------------------------gradient-border----------------------------------------------- */
  
  .gradient-border {
    --borderWidth: 3px;
    /* background: transparent; */
    position: relative;
    border-radius: var(--borderWidth);
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 13px 6px -6px #777;
  }
  .gradient-border::after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 15s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* rainbow before the page loades */
  
  .loader {
    background: #000;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
  }
  
  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  
  .loader-line-wrap {
    animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }
  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
  }
  .loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
  }
  .loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
  }
  .loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
  }
  .loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
  }
  
  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }
  
  /* Combine transform and animation apin animation */
  
  @keyframes spin {
    0%,
    15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* for the aniamtion of the wave*/
  
  @keyframes move_wave {
      0% {
          transform: translateX(0) translateZ(0) scaleY(1)
      }
      50% {
          transform: translateX(-25%) translateZ(0) scaleY(0.55)
      }
      100% {
          transform: translateX(-50%) translateZ(0) scaleY(1)
      }
  }
  .waveWrapper {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
  }
  .waveWrapperInner {
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;
      bottom: -1px;
      background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  }
  .bgTop {
      z-index: 15;
      opacity: 0.5;
  }
  .bgMiddle {
      z-index: 10;
      opacity: 0.75;
  }
  .bgBottom {
      z-index: 5;
  }
  .wave {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
  }
  .waveTop {
      background-size: 50% 100px;
  }
  .waveAnimation .waveTop {
    animation: move-wave 3s;
     -webkit-animation: move-wave 3s;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
  }
  .waveMiddle {
      background-size: 50% 120px;
  }
  .waveAnimation .waveMiddle {
      animation: move_wave 10s linear infinite;
  }
  .waveBottom {
      background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
      animation: move_wave 15s linear infinite;
  }
  @media screen and (min-width : 1000px)
  {
  .death2{
  font-size: 80px !important;
  }
  .death1{
    font-size: 60px !important;
  }
  }
  /*  # AGENDA */
  .tom {
    --uiTimelineMainColor: var(--timelineMainColor, rgb(5, 0, 0));
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, rgb(218, 214, 214));
  
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 750px;
    margin: 0 auto;
  
  }
  .tom:before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #292f63;
  
    position: absolute;
    top: 0;
  }

  @import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
  color: rgb(49, 8, 62);
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: 'Metal Mania', cursive;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}
  
  .timeline__group {
    position: relative;
  }
  
  .timeline__group:not(:first-of-type) {
    margin-top: 4rem;
  }
  
  .timeline__year {
    padding: 0.5rem 1.5rem;
    color: var(--uiTimelineSecondaryColor);
    background-color: var(--uiTimelineMainColor);
  
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .timeline__box {
    position: relative;

  }
  
  .timeline__box:not(:last-of-type) {
    margin-bottom: 30px;

  }
  
  .timeline__box:before {
    content: "";
    
    width: 120px;
  
    height: 4px;
    background-color: #292f63;
  
    position: absolute;
    left: 0;

    
  }
  @media screen and (max-width: 650px) {
    .timeline__box:before {
      width: 62px;

    }
  }
  .timeline__date {
    min-width: 65px;
    position: absolute;
    left: 0;
  
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    text-align: center;
  
    background-color: #522963;
    color: var(--uiTimelineSecondaryColor);
    border-radius: 50%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }
  
  .timeline__day {
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }
  
  .timeline__month {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  
  .timeline__post {
    margin-left: 40px;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: var(--uiTimelineSecondaryColor);
  }
  .timeline__content p
  {
  transform: translateY(6px);
  }
  
  @media screen and (min-width: 641px) {
    .tom:before {
      left: 30px;
    }
  
    .timeline__group {
      padding-top: 55px;
    }
  
    .timeline__box {
      padding-left: 80px;
    }
  
    .timeline__box:before {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .timeline__date {
      top: 50%;
      margin-top: -27px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .tom{
      max-width: 400px;
    }
    .tom:before {
      left: 0;
    }
  
    .timeline__group {
      padding-top: 40px;
    }
  
    .timeline__box {
      padding-left: 20px;
      padding-top: 100px;
    }
  
    .timeline__box:before {
      top: 142px;
    }
  
    .timeline__date {
      top: 0;
    }
  }
  
  @media screen and (max-width: 640px){
    .tom{
      max-width: 300px;
      font-size: 14px !important;
    }
  }
  @media screen and (max-width: 450px){
    .tom{
      max-width: 300px;
      font-size: 12px !important;
    }
  }
  .tom {
    --timelineMainColor: #292f63;
    font-size: 15px;
  }
  
  .blueBand {
    /* styling tentative agenda blue section */
    background: linear-gradient(145deg, #292f63 0%, #740e30 100%);
    text-align: center;
    width: 100%;
    font-family: 'Metal Mania', cursive;
    color: rgb(252, 252, 252);
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgb(183, 58, 179) 0%, rgb(0, 171, 193) 100%);
  color: white;
}
.inner-header {
  height: 140vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .inner-header{
    height: 500px;
  }
  .waves {
    height: 80px;
    min-height: 60px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
